footer {
  div {
    @apply lg:mx-auto;
    div {
      flex-direction: column;
      display: flex;
      margin-top: 40px;
      gap: 10px;
      @apply lg:mt-5;

      a {
        opacity: 0.5;
        transition: text-decoration 0.25s ease-in-out;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
